{% load static %}
{% load socialaccount %}
<!--{% providers_media_js %}-->

<body>
	<!--[if lte IE 9]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
	<![endif]-->

	<!-- Add your site or application content here -->

	<!-- <div class="fakeloader"></div> -->

	<!-- Main wrapper -->
	<div class="wrapper" id="wrapper">
		<!-- Header -->
		<header id="header" class="jnr__header header--one clearfix">
			<!-- Start Header Top Area -->
			<div class="junior__header__top">
				<div class="container">
					<div class="row">
						<div class="col-md-7 col-lg-6 col-sm-12">
							<div class="jun__header__top__left">
								<ul class="top__address d-flex justify-content-start align-items-center flex-wrap flex-lg-nowrap flex-md-nowrap">
									<li><i class="fa fa-envelope"></i><a href="#">junior@mail.com</a></li>
									<li><i class="fa fa-phone"></i><span>Тел :</span><a
											href="#">+380731475570</a></li>
								</ul>
							</div>
						</div>
						<div class="col-md-5 col-lg-6 col-sm-12">
							<div class="jun__header__top__right">
								{% if request.user.is_authenticated %}
								<ul class="accounting d-flex justify-content-lg-end justify-content-md-end justify-content-start align-items-center">
									 <li>{{request.user.username}}</li>
 								     <li ><a href="/accounts/logout"><i
              							class=""></i>Logout</a>
									 </li>
								</ul>
      							{% else %}
								<ul class="accounting d-flex justify-content-lg-end justify-content-md-end justify-content-start align-items-center">
									<li><a class="login-trigger" href="#">Login</a></li>
									<li><a href="{% provider_login_url 'facebook' method='js_sdk'%}">Login Button image</a></li>
									<li><a class="accountbox-trigger" href="#">Register</a></li>
								</ul>
								{% endif %}
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End Header Top Area -->
			<!-- Start Mainmenu Area -->
			<div class="mainmenu__wrapper bg__cat--1 poss-relative header_top_line sticky__header">
				<div class="container">
					<div class="row d-none d-lg-flex">
						<div class="col-sm-4 col-md-6 col-lg-2 order-1 order-lg-1">
							<div class="logo">
								<a href="{% url 'index' %}">
									<img src="{% static 'images/logo/junior.png' %}"
										 alt="logo images">
								</a>
							</div>
						</div>
						<div class="col-sm-4 col-md-2 col-lg-9 order-3 order-lg-2">
							<div class="mainmenu__wrap">
								<nav class="mainmenu__nav">
                                    <ul class="mainmenu">
                                        <li
												class="drop"><a href="{% url 'index' %}">Головна</a></li>
                                        <li
												class="drop"><a href="{%  url 'event_list' %}">Заходи
										</a></li>
                                        <li class="drop"><a href="#">Ми</a>
                                            <ul class="dropdown__menu">
                                                <li><a href="{% url 'about_us' %}">Про нас</a></li>
                                                <li><a href="{% url 'gallery_list' %}">Галерея</a></li>
                                                <li><a href="{% url 'line' %}">Електронна черга</a></li>
                                                <li>
													<a href="{% url 'finance' %}">Фінансові звіти</a>
												</li>
                                            </ul>
                                        </li>
                                        <li
												class="drop"><a href="{% url 'article_list' %}">
											Статті</a></li>
										<li><a href="{% url 'notice_list' %}">Оголошення</a></li>
                                        <li><a href="{% url 'contact' %}">Контакти</a></li>
                                    </ul>
                                </nav>
							</div>
						</div>
						<!--<div class="col-lg-1 col-sm-4 col-md-4 order-2 order-lg-3">-->
							<!--<div class="shopbox d-flex justify-content-end align-items-center">-->
								<!--<a class="minicart-trigger" href="#">-->
									<!--<i class="fa fa-shopping-basket"></i>-->
								<!--</a>-->
								<!--<span>03</span>-->
							<!--</div>-->
						<!--</div>-->
					</div>
					<!-- Mobile Menu -->
                    <div class="mobile-menu d-block d-lg-none">
                    	<div class="logo">
                    		<a
									href="index.html"><img
									src="{% static 'images/logo/junior.png' %}"
														   alt="logo"></a>
                    	</div>
                    	<!--<a class="minicart-trigger" href="#">-->
                    		<!--<i class="fa fa-shopping-basket"></i>-->
                    	<!--</a>-->
                    </div>
                    <!-- Mobile Menu -->
				</div>
			</div>
			<!-- End Mainmenu Area -->
		</header>
		<!-- //Header -->
