{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Start Bradcaump area -->
        <div class="ht__bradcaump__area">
            <div class="ht__bradcaump__container">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="bradcaump__inner text-center">
                                <h2 class="bradcaump-title">Наші контакти</h2>
                                <nav class="bradcaump-inner">
                                  <a class="breadcrumb-item" href="{% url 'index' %}">Головна</a>
                                  <span class="brd-separetor">
									  <img src="{% static 'images/icons/brad.png' %}"
										   alt="separator images">
								  </span>
                                  <span class="breadcrumb-item active">Контакт</span>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Bradcaump area -->
        <section class="page__contact bg--white section-padding--lg">
        	<div class="container">
        		<div class="row">
        			<!-- Start Single Address -->
        			<div class="col-md-6 col-sm-6 col-12 col-lg-4">
        				<div class="address location">
        					<div class="ct__icon">
        						<i class="fa fa-home"></i>
        					</div>
							<div class="address__inner">
								<h2>Наша адреса</h2>
								<p>Олександрійський район, Кіровоградська обл. Поштовий індекс
									28034
								</p>
								<ul>
									<li>смт Приютівка <br>  вул.Центральна буд. 8</li>
								</ul>
							</div>
        				</div>
        			</div>
        			<!-- End Single Address -->
        			<!-- Start Single Address -->
        			<div class="col-md-6 col-sm-6 col-12 col-lg-4 xs-mt-60">
        				<div class="address phone">
        					<div class="ct__icon">
        						<i class="fa fa-phone"></i>
        					</div>
							<div class="address__inner">
								<h2>Телефон</h2>
								<p>Наш контактний телефон</p>
								<ul>
									<li><a href="">+380731475570</a></li>
								</ul>
							</div>
        				</div>
        			</div>
        			<!-- End Single Address -->
        			<!-- Start Single Address -->
        			<div class="col-md-6 col-sm-6 col-12 col-lg-4 md-mt-60 sm-mt-60">
        				<div class="address email">
        					<div class="ct__icon">
        						<i class="fa fa-envelope"></i>
        					</div>
							<div class="address__inner">
								<h2>E-mail адреса</h2>
								<p>Відправляйте листи з питаннями і побажаннями на нашу поштову
								   скриньку
								</p>
								<ul>
									<li><a href="">switlyachokzdo.@gmail.com</a></li>
								</ul>
							</div>
        				</div>
        			</div>
        			<!-- End Single Address -->
        		</div>
        	</div>
        </section>

        <!--<div class="contact__map">-->
        	<!--<div class="container-fluid">-->
        		<!--<div class="row">-->
        			<!--<div class="col-lg-7">-->
        				<!--<div class="google__map">-->
        					<!--<div id="googleMap"></div>-->
        				<!--</div>-->
        			<!--</div>-->
        			<!--<div class="col-lg-5">-->
        				<!--<div class="child__image">-->
        					<!--<img src="images/others/4.jpg" alt="children images">-->
        				<!--</div>-->
        			<!--</div>-->
        		<!--</div>-->
        	<!--</div>-->
        <!--</div>-->


    <!-- Google Map js -->
    <!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBmGmeot5jcjdaJTvfCmQPfzeoG_pABeWo"></script>-->
    <!--<script>-->
        <!--// When the window has finished loading create our google map below-->
        <!--google.maps.event.addDomListener(window, 'load', init);-->

        <!--function init() {-->
            <!--// Basic options for a simple Google Map-->
            <!--// For more options see: https://developers.google.com/maps/documentation/javascript/reference#MapOptions-->
            <!--var mapOptions = {-->
                <!--// How zoomed in you want the map to start at (always required)-->
                <!--zoom: 12,-->

                <!--scrollwheel: false,-->

                <!--// The latitude and longitude to center the map (always required)-->
                <!--center: new google.maps.LatLng(23.7286, 90.3854), // New York-->

                <!--// How you would like to style the map. -->
                <!--// This is where you would paste any style found on Snazzy Maps.-->
                 <!--styles:-->
				<!--[-->
				    <!--{-->
				        <!--"featureType": "all",-->
				        <!--"elementType": "all",-->
				        <!--"stylers": [-->
				            <!--{-->
				                <!--"invert_lightness": true-->
				            <!--},-->
				            <!--{-->
				                <!--"saturation": 10-->
				            <!--},-->
				            <!--{-->
				                <!--"lightness": 30-->
				            <!--},-->
				            <!--{-->
				                <!--"gamma": 0.5-->
				            <!--},-->
				            <!--{-->
				                <!--"hue": "#435158"-->
				            <!--}-->
				        <!--]-->
				    <!--},-->
				    <!--{-->
				        <!--"featureType": "administrative.province",-->
				        <!--"elementType": "labels.text.stroke",-->
				        <!--"stylers": [-->
				            <!--{-->
				                <!--"hue": "#ff00d0"-->
				            <!--}-->
				        <!--]-->
				    <!--}-->
				<!--]-->
            <!--};-->

            <!--// Get the HTML DOM element that will contain your map -->
            <!--// We are using a div with id="map" seen below in the <body>-->
            <!--var mapElement = document.getElementById('googleMap');-->

            <!--// Create the Google Map using our element and options defined above-->
            <!--var map = new google.maps.Map(mapElement, mapOptions);-->

            <!--// Let's also add a marker while we're at it-->
            <!--var marker = new google.maps.Marker({-->
                <!--position: new google.maps.LatLng(23.7286, 90.3854),-->
                <!--map: map,-->
                <!--title: 'Dcare!',-->
                <!--icon: 'images/icons/map.png',-->
                <!--animation:google.maps.Animation.BOUNCE-->

            <!--});-->
        <!--}-->
    <!--</script>-->
{% endblock content %}