{% extends 'base.html' %}
{% load static %}
{% block extrameta %}
    <meta property="og:title" content="{{ event.title }}">
	<meta property="og:description" content="{{ event.description }}">
	{% if event.title_image %}
	<meta property="og:image" content="{{ event.title_image_detail.url }}">
	{% else %}
	<meta property="og:image" content="{% static 'images/event/big-img/1.jpg' %}">
	{% endif %}
	<meta property="og:url" content="{% url 'event_details' event.id %}">
	<meta property="og:site_name" content="ЗДО 'Світлячок'">
{% endblock extrameta %}
{% block content %}
        <!-- Start Bradcaump area -->
        <div class="ht__bradcaump__area">
            <div class="ht__bradcaump__container">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="bradcaump__inner text-center">
                                <h2 class="bradcaump-title">Детальніше про наш захід</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Bradcaump area -->
        <!-- Start Class Details -->
        <section class="page-event-details bg--white section-padding--lg">
        	<div class="container">
        		<div class="row">
        			<div class="col-lg-9">
        				<div class="event-content-wrapper">

	        				<div class="event-section">
	        					<div class="enent__thumb">
									{% if event.title_image %}
	        						<img src="{{ event.title_image_detail.url }}" alt="big images">
									{% else %}
									<img src="{% static 'images/event/big-img/1.jpg' %}">
									{% endif %}
	        						<div class="box-timer">
										{% if event.is_active %}
                                        <div class="countbox timer-grid">
                                            <div
													data-countdown="{{ event.scheduled|date:'Y/m/d H:i' }}"></div>
                                        </div>
										{% endif %}
                                     </div>
	        					</div>

	        					<div class="event__inner">
	        						<span><i class="fa fa-calendar"></i>
										{{ event.scheduled|date:'d M Y H : i' }}</span>
	        						<h4>{{ event.title }}</h4>

	        						<h6>Місце проведення{{ event.place }}</h6>

	        						<blockquote>{{ event.description }}</blockquote>
	        					</div>
        					</div>

	        				<div class="event-section">
	        					<div class="event__advertise">

	        						<div class="addver__thumb">
	        							<img src="{% static 'images/event/big-img/1.jpg' %}"
											 alt="event images">
	        						</div>
	        					</div>
								{% if event.content %}
	        					<div>
									{{ event.content|safe }}
								</div>
								{% endif %}
        					</div>
                            <div class="event-section mt-4">
                                {% if event.gallery %}
                                <a href="{% url 'gallery_detail' event.gallery.id %}"
                                   style="color:blue;">
                                    Дивіться наш фотозвіт
                                </a>
                                {% endif %}
                            </div>
                            <div>
                                <ul class="dacre__social__link--2 bg--2 d-flex justify-content-end">
                                    <li class="facebook">
                                        <a target="_blank"
                                           href="https://www.facebook.com/sharer/sharer.php?u={{request.build_absolute_uri}}">
                                        <i class="fa fa-facebook"></i></a></li>

                                </ul>
                            </div>
						</div>
                    </div>
        		</div>
        	</div>
        </section>
        <!-- End Class Details -->


	</div><!-- //Main wrapper -->

{% endblock content %}

